.header-title {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  button.header-icon {
    position: absolute;
    right: 0;
    color: #fff;
  }

  .modal-carousel {
    height:200px
  }

div.name {
  padding: 10px 0 10px 10px;
}
